@import '../../styles/_variables.scss';

.bignum {
    padding-bottom: 36px;

    &__title {
        color: $light-text-color;
        text-align: center;
        font-size: 16px;
        font-weight: 400;
        line-height: normal;
    }

    &__form {
        display: flex;
        justify-content: center;
        gap: 38px;
        padding: 36px 0px 36px 0px;
    }

    &__input {
        font-size: 12px;
        font-weight: 400;
        line-height: normal;
        width: 135px;
        height: 35px;
        padding: 10px 20px;
        align-items: flex-start;
        gap: 10px;
        border-radius: 20px;
        background: $light-input-color;
        display: inline-flex;
        border: none;
        text-align: center;
        align-items: flex-start;
        box-shadow: $light-shadow;

        &::-webkit-inner-spin-button,
        &::-webkit-outer-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }

        &::placeholder {
            color: $light-placeholder-color;

        }
    }

    &__text {
        text-align: center;
        margin-bottom: 36px;
        color: $light-text-color;
        font-size: 12px;
        font-weight: 400;
        line-height: normal;
    }

    &__line {
        width: 100%;
        max-width: 536px;
        height: 1px;
        background-color: $light-text-color;
        margin: 0 auto;
    }

    @media screen and (max-width: 460px) {
        .bignum {
            &__form {
                max-width: 100%;
                flex-direction: column;
            }

            &__input{
                margin: 0 auto;
            }
        }
    }
}


body.dark .bignum {

    &__title {
        color: $dark-text-color;
    }



    &__input {
        color: $dark-placeholder-color;
        background: $dark-input-color;
        box-shadow: $dark-shadow;

        &::placeholder {
            color: $dark-placeholder-color;


        }
    }

    &__text {
        color: $dark-text-color;
    }

    &__line {
        background-color: $dark-text-color;
    }


}