@import '../../styles/_variables.scss';

.football {
    padding-bottom: 36px;

    &__title {
        color: $light-text-color;
        font-size: 16px;
        font-weight: 400;
        margin-bottom: 36px;
        text-align: center;
    }

    &__field {
        margin: 0 auto 36px;
        max-width: 720px;
        width: 100%;
        height: 150px;
        border-radius: 37px;
        border: 2px solid $light-text-color;
        background-color: #5ABB58;
        position: relative;
        cursor: url(../svg/cursor.svg) 4 4, pointer;
        overflow: hidden;

        @media screen and (min-width: 600px) {
            height: 220px;
        }
    }

    &__count {
        color: $light-text-color;
        font-size: 20px;
        font-weight: 400;
        margin-bottom: 36px;
        position: absolute;
        left: 30px;
        top: 20px;
        z-index: 10;
        user-select: none;
    }

    &__time {
        color: $light-text-color;
        font-size: 20px;
        font-weight: 400;
        margin-bottom: 36px;
        position: absolute;
        left: 80px;
        top: 20px;
        z-index: 10;
        user-select: none;
    }

    &__ball {
        pointer-events: none;
        position: absolute;
        transform: translate(-50%, -50%);
        width: 25px;
        height: 25px;
        user-select: none;

        @media screen and (min-width: 600px) {
            width: 50px;
            height: 50px;
        }
    }

    &__img {
        pointer-events: none;
        position: absolute;
        width: 50px;
        user-select: none;

        @media screen and (min-width: 600px) {
            width: 100px;
        }
    }

    &__line {
        width: 100%;
        max-width: 536px;
        height: 1px;
        background-color: $light-text-color;
        margin: 0 auto;
    }

    &__backdrop {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background-color: $light-backdrop;
        z-index: 10;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }

    &__play {
        border-radius: 20px;
        background-color: $bg-black-color;
        box-shadow: $light-shadow;
        padding: 10px 20px;
        color: $btn-svg-color;
        font-size: 12px;
        font-weight: 400;
        user-select: none;
    }

    &__info {
        color: $light-text-color;
        font-size: 12px;
        font-weight: 400;
        margin-top: 24px;
        text-align: center;
        margin-bottom: 36px;
    }

    &__btn {
        border-radius: 20px;
        background-color: $bg-black-color;
        box-shadow: $light-shadow;
        padding: 10px 20px;
        color: $btn-svg-color;
        font-size: 12px;
        font-weight: 400;
        margin: 20px auto 0;
    }

    &__modal {
        width: calc(100% - 30px);
        max-width: 640px;
        background-color: $light-body-bg-color;
        border-radius: 20px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding: 20px 30px;
        max-height: 400px;
        height: calc(100% - 60px);

        @media screen and (min-width: 440px) {
            padding: 46px 66px;
        }
    }

    &__close {
        line-height: 0;
        position: absolute;
        right: 14px;
        top: 14px;

        @media screen and (min-width: 440px) {
            right: 30px;
            top: 30px;
        }
    }

    &__dagger {
        stroke: $light-text-color;
    }

    &__subtitle {
        color: $light-text-color;
        font-size: 16px;
        font-weight: 400;
        margin-bottom: 20px;
        text-align: center;
    }

    &__table {
        max-width: 400px;
        margin: 0 auto;
        width: 100%;
        overflow-y: auto;
        height: max-content;
        max-height: calc(100% - 39px);
        border-radius: 20px;
        scrollbar-width: thin;
        scrollbar-color: $light-bg-gray-color $light-interactiv;
    }

    &__text {
        color: $light-text-color;
        font-size: 12px;
        font-weight: 400;
        text-align: center;
    }

    &__row {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 8px 24px;

        &:nth-child(odd) {
            background-color: $light-interactiv;
        }
    }

    &__header {
        color: $light-text-color;
        font-size: 12px;
        font-weight: 400;
    }

    &__score {
        color: $light-text-color;
        font-size: 12px;
        font-weight: 400;
    }
}

body.dark .football {
    &__title {
        color: $dark-text-color;
    }

    &__field {
        border: 2px solid $dark-text-color;
    }

    &__line {
        background-color: $dark-text-color;
    }

    &__info {
        color: $dark-text-color;
    }
}