$bg-black-color: #000;
$btn-svg-color: #FFF;
$bg-body: #EEEEEE;
$bg-toogle-btn: #7a7a7a;

$light-text-color: #000;
$light-bg-gray-color: #D9D9D9;
$light-arrow-color: #000;
$light-green-color: #039900;
$light-input-color: #d7d7d7;
$light-placeholder-color: #7e7e7e;
$light-body-bg-color: #FFF;
$light-choose-slide: #797979;
$light-interactiv: #f1f1f1;
$light-red-color: #990000;
$light-choose-scientist: #cacaca;
$light-shadow: 3px 3px 0px 0px rgba(0, 0, 0, 0.25);
$light-backdrop: rgba(0, 0, 0, 0.25);

$dark-text-color: #fff;
$dark-bg-gray-color: #585858;
$dark-arrow-color: #fff;
$dark-green-color: #82FF80;
$dark-input-color: #9C9C9C;
$dark-placeholder-color: #DCDCDC;
$dark-body-bg-color: #3B3B3B;
$dark-choose-slide: #AAAAAA;
$dark-interactiv: #474747;
$dark-red-color: #FF4444;
$dark-choose-scientist: #686868;
$dark-shadow: 3px 3px 0px 0px rgba(255, 255, 255, 0.25);
$dark-backdrop: rgba(255, 255, 255, 0.25);