@import '../../styles/_variables.scss';


.header {
    padding: 12px 0;
    background-color: $light-body-bg-color;

    @media screen and (min-width: 800px) {
        padding: 21px 0;
    }

    & .container {
        display: flex;
        align-items: center;
    }

    &__logo {
        line-height: 0;
    }

    &__icon {}

    &__nav {
        display: none;

        @media screen and (min-width: 600px) {
            margin-left: 40px;
            display: block;
        }

        @media screen and (min-width: 800px) {
            margin-left: 81px;
        }
    }

    &__list {
        display: flex;
        align-items: center;
        gap: 20px;

        @media screen and (min-width: 800px) {
            gap: 50px;
        }
    }

    &__item {
        position: relative;
        display: flex;
        align-items: center;
    }

    &__select {
        font-size: 10px;
        border: none;
        padding: 0;
        color: $light-text-color;
        font-weight: 400;
        display: flex;
        gap: 6px;
        align-items: end;

        @media screen and (min-width: 800px) {
            font-size: 12px;
        }
    }

    &__select.checked &__arrow {
        transform: rotate(-180deg) translate(0, 50%);
    }

    &__arrow {
        fill: none;
        stroke: $light-text-color;
        box-sizing: content-box;
        padding-bottom: 3px;
    }

    &__sublist {
        position: absolute;
        border: 1px solid $light-text-color;
        border-top: none;
        background: $light-body-bg-color;
        left: 50%;
        transform: translate(-50%, 0);
        width: 120px;
        display: flex;
        flex-direction: column;
        border-radius: 0px 0px 20px 20px;
        overflow: hidden;
        top: 38px;

        @media screen and (min-width: 800px) {
            top: 48px;
            width: 160px;
        }

        &.is-hidden {
            opacity: 0;
            pointer-events: none;
        }
    }

    &__subitem {}

    &__subbtn {
        padding: 6px 0;
        color: $light-text-color;
        font-weight: 400;
        background-color: $light-body-bg-color;
        width: 100%;
        font-size: 9px;

        @media screen and (min-width: 800px) {
            font-size: 12px;
            padding: 10px 0;
        }

        &:hover {
            background-color: $light-interactiv;
        }
    }

    &__link {
        color: $light-text-color;
        font-size: 10px;
        font-weight: 400;

        @media screen and (min-width: 800px) {
            font-size: 12px;
        }
    }

    &__btn {
        margin-left: auto;
        background-color: $bg-toogle-btn;
        width: 30px;
        border-radius: 11px;

        @media screen and (min-width: 800px) {
            width: 40px;
        }
    }

    &__wrapper {
        width: 15px;
        height: 15px;
        background-color: $light-body-bg-color;
        border: 0.5px solid $light-text-color;
        border-radius: 50%;
        margin-left: 0;
        padding: 1px;

        @media screen and (min-width: 800px) {
            width: 20px;
            height: 20px;
        }

        body.dark & {
            background-color: $bg-black-color;
            margin-left: 15px;
            transform: rotate(720deg);

            @media screen and (min-width: 800px) {
                margin-left: 20px;
            }
        }
    }


    &__img {}

    &__text {
        color: $light-text-color;
        font-size: 10px;
        font-weight: 400;
        margin-left: 20px;

        @media screen and (min-width: 800px) {
            font-size: 12px;
            margin-left: 51px;
        }
    }

    &__name {}
}

body.dark .header {
    background-color: $dark-body-bg-color;

    &__select {
        color: $dark-text-color;
    }

    &__arrow {
        stroke: $dark-text-color;
    }

    &__sublist {
        border: 1px solid $dark-text-color;
        background: $dark-body-bg-color;
    }

    &__subitem {
        color: $dark-text-color;
        background-color: $dark-body-bg-color;

        &:hover {
            background-color: $dark-interactiv;
        }
    }

    &__link {
        color: $dark-text-color;
    }

    &__btn {
        background-color: $bg-toogle-btn;
    }

    &__wrapper {
        background-color: $bg-black-color;
        border: 0.5px solid $bg-black-color;
    }

    &__text {
        color: $dark-text-color;
    }

    &__sublist {
        border: 1px solid $dark-text-color;
        background: $dark-body-bg-color;
        border-top: none;
    }

    &__subbtn {
        color: $dark-text-color;
        background-color: $dark-body-bg-color;

        &:hover {
            background-color: $dark-interactiv;
        }
    }
}